<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/242956d36d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles3.css">
    <link rel="stylesheet" href="css/styles2.css">
    <link rel="stylesheet" href="css/styles3.css">
    <link rel="stylesheet" href="css/application.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <a class="navbar-brand" href="#">
          <img src="https://drive.google.com/uc?id=1AfcJBpAJ7UUmj52qpA5utY0fOvQAQahJ" alt="" width="40" height="35" class="d-inline-block align-text-top">
         
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#">My Profile</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/Status">Status</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
          </ul>
        
        </div>
      </nav>
      <div class="bg-image"></div>
      <div class="bg-image"></div>
      <div class="bg-textt">

      <div class="container">
        <h2 style="padding: 5px; color: black;">Company-Profile</h2>

        <div class="">
          <!-- <div class="column">
              <img src="https://th.bing.com/th/id/OIP.rVggrpUvs-YAUExsD7c-EAHaHa?w=215&h=216&c=7&r=0&o=5&dpr=1.25&pid=1.7" height="100px" width="100px">
          </div> -->
          <div class="">
            <table>
              <tr>
                <th style="width:50%;"></th>
                <th></th> 
                
              </tr>
              <tr style="height: 50px;">
                <td>Name</td>
                <td><%=name%></td>
                
              </tr>
              <tr style="height: 50px;">
                <td>Username</td>
                <td><%=Username%></td>
                
              </tr>
              <tr style="height: 50px;">
                <td>Email ID</td>
                <td><%=email%></td>
                
              </tr>
              <tr style="height: 50px;">
                <td>Phone No</td>
                <td><%=hr_num%></td>
                
              </tr>
              <tr style="height: 50px;">
                <td>Name of HR</td>
                <td><%=hr_name%></td>
                
              </tr>
              
            </table>
            <br>
            <br>
              
              
            </tr>
          </div>
          <p>The company is required to fill the details in the given form:
            <a style="color: white;" href="/company">  Form</a></p>
        </div>
        

      </div>
      <br>
      <br>
      <div class="container" style="padding-top: 400px;">
        <h2 style="padding:5px; color: black;">Applications Recieved</h2>
        
      <table class="table table-striped container">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            
            <th scope="col">RollNo</th>
            
            <th scope="col">APPLICATION STATUS</th>
          </tr>
        </thead>
        <tbody>
          <%var size1=applications.length;console.log(applications)
          
            
            
            if(stu_applied>=1)
            {
            for(var i=1;i<size1;i++)
            {%>
              
              <tr style="color: white;">
                <th scope="row"><%=i%></th>
                
                <td><%=applications[i]%></td>
                
                <td>In touch</td>
              </tr>
              
              
           
            <%}}%>
          </tbody>
          
        
      </table>
    </div>
      </div>
</body>
</html>